# Puerto del backend
PORT=8008

# URL de conexión de Neon (PostgreSQL)
# Nunca subas credenciales reales a git
DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DB_NAME?sslmode=require&channel_binding=require"
